body {
    background-color: lightgoldenrodyellow;
    font-size: 24px;
    font-family: monospace;
}

button {
    margin: 4px;
}

canvas {
    display: block;
    border: solid black 1px;
    margin: auto;
}

p {
    margin: 4px 4px 4px 4px;
}

.main-flex {
    display: flex;
}

svg { width: 100%; height: 100%;}