body {
    background-color: rgb(185, 185, 185);
    font-size: 24px;
    font-family: monospace;
}

button {
    margin: 4px;
}

canvas {
    display: block;
    border: solid black 1px;
}

p {
    margin: 4px 4px 4px 4px;
}

.main-flex {
    display: flex;
    align-items: flex-start;
}

svg { width: 100%; height: 100%;}

.found-elements {
    background-color: rgb(138, 138, 138);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    flex: 1;
    height: 800px;
    overflow-y: scroll;
}

.found-recpts {
    height: 800px;
    overflow-y: scroll;
    font-size: 14px;
    background-color: white;
    flex: 1;
}

.prev-goal {
    text-decoration: line-through;
}